body{
    background-color: beige;
    margin: 0;
    justify-content: center;
     display: flex;
     color:;
     padding: ;
}

.card{
     background-color: rosybrown ;
     padding: 5em ;
     border-radius: ;
     max-width: 90%;
     width: 21em;
     justify-content: center;
     align-items: center;
     text-align: center;

     
}