body {
    background-color:
     hsl(30, 54%, 90%);
     font-family: 'Outfit', sans-serif;
    font-size: 1em;
    justify-content: center;
    display: flex;
    color: hsl(30, 10%, 34%) ;
    padding: 2.5em 1.25em ;
}

h1,h2{
    font-family: 'Young Serif','serif';
}

.card {
    background-color: hsl(0, 0%, 100%);
    max-width: 46rem;
    border-radius: 1.5 ;
    padding:2.5em ;
}

.card img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0.75em;
    padding: 0;
    margin-bottom: 1.5em;

}

/*Tituos principais usam a fonte young Serif*/
.refeicao{
     background-color: hsl(330, 100%, 98%);
     border-radius: 0.75em;
     padding: 1.5em;
}


.refeicao h3{
    color: hsl(332, 51%, 32%);
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    padding: 0.75em;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    text-align: left;
}

tr:last-child td{
    border-bottom: none;
}
.valor{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}